/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 7:48:54 PM
    Author     : Igor
*/

thead{
    border: none;
    background: none;
}
.ui-datatable-tablewrapper{
    border: none;
    background: none;
}
.ui-paginator.ui-paginator-bottom, .ui-paginator.ui-paginator-top{
    border: none;
    background: none;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer{
    border: none;
    background: none;
}
.ui-layout-unit{
    border: none;
    background: none;
}
.ui-layout-unit-content{
    border: none;
    background: none;
}
.ui-panel .ui-panel-titlebar{
     border: none;
    background: none;
}
.ui-panel{
   
    border: none;
    background: none;
}
