/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2016, 7:53:05 PM
    Author     : Igor
*/
.ui-panel .ui-panel-titlebar {
    background-color: sienna;
}
.ui-grid{
    background: none;
    border: none;
}
.bidTable table, th, td {
    border: none;
}
.ui-panel {
    background-color: wheat;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
        background-color: #a2f1fb;
}
nav {
	padding-left: 10px;
        
        height: 40px;
        font-size: 30px;
	border-bottom: 2px solid grey;
}
nav span{
    color: coral;
}
header{
    background-color: black;
    color: white;  
}
header #welcomeLogedName{
    width: max-content; 
    float: right; 
    margin-right: 15px;
   
}
.nav_right {
	float: right;
        padding-right: 15px;
}
.nav_right form .ui-menu .ui-menubar  .links{
    display: inline;
}
.ui-timer  {
    border: none;
    background: none;
    
}
/*.j_idt8{
     display: inline;
     background-color: white;
}
.j_idt9{
    background-color: white;
}*/
div.nav_right{
    
}
/*#j_idt8 .ui-menu .ui-menubar ui-widget .ui-widget-content .ui-corner-all .ui-helper-clearfix{
    background: none;
}
div#j_idt8.ui-menu.ui-menubar.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix{
    background: none;
    
}*/
div.ui-carousel-header.ui-widget-header.ui-corner-all{
    margin-top: 10px;
}
.j_idt8{
    background: none;
}
ul.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow{
    background-color:  black;
    
}
.ui-carousel{
    background: none;
    border: none;
}
.ui-widget-content{
/*    background: none;
    border: none;*/
}
.nav_right a .ui-menu .ui-menubar  .links{
        width: 30px;
	font-size: 25px;
	color: grey;
	text-decoration: none;
        color: #00cc33;
}
.ui-menu .ui-menubar  .links{
    background: none;
}
.links{
    padding-top: 0px;
/*    background-color: black;*/
  
}
.links div{
    
    font-size: 15px;
/*    border-right-color: white;*/
    padding-left: 5px;
  border: none;
    width: max-content;
/*    background: black;*/
/*    display: inline;*/
    
}
/*.links div:hover{
    background-color: #ce096b;
}
.links div:active{
    
    background-color: yellow;
}*/
.ui-menu, .ui-menu .ui-menu-child{
    background: none;
    border: none;
}
.searcharea{
    margin-top: 10px;
    height: 70px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}
.searcharea input{
    height: 18px;
    float: right;
}
.searcharea button{
    
    background-color: oldlace;
    float: right;
}
.bidTable{
     padding-top: 50px;
}
.bidTable table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
} 

.bidTable  {
    border: 1px solid black;
    text-overflow: ellipsis;
}
form{
    padding-top: 20px;
    text-align: center;
    
}
#tableheader{
    font: bolder;
    color: darkcyan;
    font-size: larger;
        
}


