<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductCreateDlg" widgetVar="ProductCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProductTitle}">
            <h:form id="ProductCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProductLabel_auction}" for="auction" />
                        <p:selectOneMenu id="auction" value="#{productController.selected.auction}" >
                            <f:selectItems value="#{auctionController.itemsAvailableSelectOne}"
                                           var="auctionItem"
                                           itemValue="#{auctionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateProductLabel_createdDate}" for="createdDate" />
                        <p:calendar id="createdDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{productController.selected.createdDate}" title="#{bundle.EditProductTitle_createdDate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateProductLabel_price}" for="price" />
                        <p:inputText id="price" value="#{productController.selected.price}" title="#{bundle.CreateProductTitle_price}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_highestBid}" for="highestBid" />
                        <p:inputText id="highestBid" value="#{productController.selected.highestBid}" title="#{bundle.CreateProductTitle_highestBid}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_productPoster}" for="productPoster" />
                        <p:selectOneMenu id="productPoster" value="#{productController.selected.productPoster}" >
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="productPosterItem"
                                           itemValue="#{productPosterItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateProductLabel_allCategories}" for="allCategories" />
                        <p:inputText id="allCategories" value="#{productController.selected.allCategories}" title="#{bundle.CreateProductTitle_allCategories}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_category}" for="category" />
                        <p:inputText id="category" value="#{productController.selected.category}" title="#{bundle.CreateProductTitle_category}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_id}" for="id" />
                        <p:inputText id="id" value="#{productController.selected.id}" title="#{bundle.CreateProductTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_productName}" for="productName" />
                        <p:inputText id="productName" value="#{productController.selected.productName}" title="#{bundle.CreateProductTitle_productName}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_pictureURL}" for="pictureURL" />
                        <p:inputText id="pictureURL" value="#{productController.selected.pictureURL}" title="#{bundle.CreateProductTitle_pictureURL}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_productDescription}" for="productDescription" />
                        <p:inputText id="productDescription" value="#{productController.selected.productDescription}" title="#{bundle.CreateProductTitle_productDescription}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_features}" for="features" />
                        <p:inputText id="features" value="#{productController.selected.features}" title="#{bundle.CreateProductTitle_features}" />
                        <p:outputLabel value="#{bundle.CreateProductLabel_allAuctionLengths}" for="allAuctionLengths" />
                        <p:inputText id="allAuctionLengths" value="#{productController.selected.allAuctionLengths}" title="#{bundle.CreateProductTitle_allAuctionLengths}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productController.create}" value="#{bundle.Save}" update="display,:ProductListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProductCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
