<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductEditDlg" widgetVar="ProductEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProductTitle}">
            <h:form id="ProductEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
<!--                        <p:outputLabel value="#{bundle.EditProductLabel_auction}" for="auction" />
                        <p:selectOneMenu id="auction" value="#{productController.selected.auction}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{auctionController.itemsAvailableSelectOne}"
                                           var="auctionItem"
                                           itemValue="#{auctionItem}"/>
                        </p:selectOneMenu>-->
<!--                        cmonet-->
                        <p:outputLabel value="#{bundle.EditProductLabel_createdDate}" for="createdDate" />
                        <p:calendar id="createdDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{productController.selected.createdDate}" title="#{bundle.EditProductTitle_createdDate}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditProductLabel_price}" for="price" />
                        <p:inputText id="price" value="#{productController.selected.price}" title="#{bundle.EditProductTitle_price}" />
<!--                         <p:outputLabel value="#{bundle.EditProductLabel_productPoster}" for="productPoster" />
                        <p:selectOneMenu id="productPoster" value="#{productController.selected.productPoster}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="productPosterItem"
                                           itemValue="#{productPosterItem}"/>
                        </p:selectOneMenu>-->
                        <p:outputLabel value="#{bundle.EditProductLabel_allCategories}" for="allCategories" />
                        <p:inputText id="allCategories" value="#{productController.selected.allCategories}" title="#{bundle.EditProductTitle_allCategories}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_category}" for="category" />
                        <p:inputText id="category" value="#{productController.selected.category}" title="#{bundle.EditProductTitle_category}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_id}" for="id" />
                        <p:inputText id="id" value="#{productController.selected.id}" title="#{bundle.EditProductTitle_id}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_productName}" for="productName" />
                        <p:inputText id="productName" value="#{productController.selected.productName}" title="#{bundle.EditProductTitle_productName}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_pictureURL}" for="pictureURL" />
                        <p:inputText id="pictureURL" value="#{productController.selected.pictureURL}" title="#{bundle.EditProductTitle_pictureURL}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_productDescription}" for="productDescription" />
                        <p:inputText id="productDescription" value="#{productController.selected.productDescription}" title="#{bundle.EditProductTitle_productDescription}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_features}" for="features" />
                        <p:inputText id="features" value="#{productController.selected.features}" title="#{bundle.EditProductTitle_features}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_allAuctionLengths}" for="allAuctionLengths" />
                        <p:inputText id="allAuctionLengths" value="#{productController.selected.allAuctionLengths}" title="#{bundle.EditProductTitle_allAuctionLengths}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productController.update}" value="#{bundle.Save}" update="display,:ProductListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProductEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
