<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductViewDlg" widgetVar="ProductViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductTitle}">
            <h:form id="ProductViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductLabel_auction}"/>
                        <h:outputText value="#{productController.selected.auction}" title="#{bundle.ViewProductTitle_auction}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_createdDate}"/>
                        <h:outputText value="#{productController.selected.createdDate}" title="#{bundle.ViewProductTitle_createdDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewProductLabel_price}"/>
                        <h:outputText value="#{productController.selected.price}" title="#{bundle.ViewProductTitle_price}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_productPoster}"/>
                        <h:outputText value="#{productController.selected.productPoster}" title="#{bundle.ViewProductTitle_productPoster}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_allCategories}"/>
                        <h:outputText value="#{productController.selected.allCategories}" title="#{bundle.ViewProductTitle_allCategories}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_category}"/>
                        <h:outputText value="#{productController.selected.category}" title="#{bundle.ViewProductTitle_category}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_id}"/>
                        <h:outputText value="#{productController.selected.id}" title="#{bundle.ViewProductTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_productName}"/>
                        <h:outputText value="#{productController.selected.productName}" title="#{bundle.ViewProductTitle_productName}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_pictureURL}"/>
                        <h:outputText value="#{productController.selected.pictureURL}" title="#{bundle.ViewProductTitle_pictureURL}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_productDescription}"/>
                        <h:outputText value="#{productController.selected.productDescription}" title="#{bundle.ViewProductTitle_productDescription}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_features}"/>
                        <h:outputText value="#{productController.selected.features}" title="#{bundle.ViewProductTitle_features}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_allAuctionLengths}"/>
                        <h:outputText value="#{productController.selected.allAuctionLengths}" title="#{bundle.ViewProductTitle_allAuctionLengths}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
