<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        #{loginController.setAdminLoggedInUsername()}
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"/>
        <h:outputStylesheet library="css" name="style_header_admin.css"/>
    </h:head>
    <h:body>
        <ui:insert>
            <ui:include src="/templates/common/header_admin.xhtml"/>
        </ui:insert>
        
        
            
        
        
        <h:form>
            <p:panelGrid columns="2">
                <f:facet name="header">
                    Last events
                </f:facet>
                
            </p:panelGrid>
        </h:form>
        <br />
        <h:link outcome="/crud/customer/List" value="Show All Customer Items"/>
    </h:body>
</html>

