<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
         <h:outputStylesheet library="css" name="style.css"/>
         <h:outputStylesheet library="css" name="crud.css"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="5000" />
<!--        <ui:insert>
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>-->
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="auto" style="padding: 0px">
                <ui:insert>
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="west" header="" size="90" style="background-color: gold; " collapsed="true" collapsible="true">
                <ui:insert name="west nav"/>
            </p:layoutUnit>
            
            <p:layoutUnit position="center" size="60" >
                <ui:insert name="body"/>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60" style="background-color: cyan">
                <ui:insert name="footer"/>
                some content
            </p:layoutUnit>

            

        </p:layout>

    </h:body>

</html>
