<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <head><title></title></head>
    <body>
        <ui:composition>
            <header>

                <nav>
                    <span><i>just</i><b>bid.com</b></span>
                    <div class="nav_right">


                        <h:form class="links">
                            <p:menubar>
                                <p:menuitem value="#{bundle.Home}" rendered="#{customerView.isLoggedIn}" outcome="/users/index" icon="ui-icon-home"/>
                                <p:menuitem value="#{bundle.Home}" rendered="#{!customerView.isLoggedIn}" outcome="/index" icon="ui-icon-home"/>
                                <p:menuitem value="view all products" outcome="/product/view" />
                                <p:submenu  icon="ui-icon-gear">
                                    <p:menuitem value="home" rendered="#{customerView.isLoggedIn}" outcome="/users/index" />
                                    <p:menuitem value="start auction" rendered="#{customerView.isLoggedIn}" action="#{customerView.seePostedProducts}" />
                                    <p:menuitem value="manage products" rendered="#{customerView.isLoggedIn}" 
                                      action="#{productController.seePostedProducts}" >
                                        <f:setPropertyActionListener value="#{customerView.customer}" target="#{productController.owner}"/>
                                    </p:menuitem>
                                    <p:menuitem value="login" rendered="#{!customerView.isLoggedIn}" outcome="/users/index.xhtml" />
                                    <p:menuitem value="logout" rendered="#{customerView.isLoggedIn}" action="#{customerView.logOut}" />

                                </p:submenu>
                            </p:menubar>
                           
                           
                        </h:form>
                    </div>
                </nav>  
                <h:outputText rendered="#{!customerView.isLoggedIn}" value="you are not logged in"/>
                <h:outputText rendered="#{customerView.isLoggedIn}" value="Welcome: "/>
                <p:outputLabel rendered="#{customerView.isLoggedIn}" value="#{customerView.customer.uname}"/>
            </header>
             <p:dialog header="Create new product" widgetVar="dlg" closeOnEscape="true" style="background: white" >
                                <f:view>
                                    <h:form>
                                        <h:panelGrid id="grid" columns="3" cellpadding="5" style="background-color: #DBE0E3" >
                                            <h:outputLabel value="Category:" for="category" />
                                            <h:selectOneMenu id="category" value="#{customerView.postedProduct.category}"  title="Category" required="true" requiredMessage="Select one catogery" >
                                                <f:selectItem itemLabel="select one"/>
                                                <f:selectItems value="#{customerView.postedProduct.allCategories}"/>
                                            </h:selectOneMenu>
                                            <p:message for="category"/>
                                            <h:outputLabel value="ProductName:" for="productName" />
                                            <h:inputText id="productName" value="#{customerView.postedProduct.productName}" title="ProductName" required="true" requiredMessage="Enter prodctname" />
                                            <p:message for="productName"/>
                                            <h:outputLabel value="productDescription:" for="productDescription" />
                                            <h:inputTextarea id="productDescription" value="#{customerView.postedProduct.productDescription}" title="ProductDescription" required="true" requiredMessage="Provide some information about the product" />
                                            <p:message for="productDescription"/>
                                            <p:outputLabel value="start price:" for="startPrice" />
                                            <p:inputNumber id="startPrice" value="#{customerView.postedProduct.price}" title="ProductDescription" required="true" requiredMessage="Need a startprice" />
                                            <p:message for="startPrice"/>
                                            <p:fileUpload fileUploadListener="#{customerView.fileUpload}" style="width: 550px" mode="advanced" dragDropSupport="true" 
                                                          update="messages" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" required="true" requiredMessage="Need image"/>
                                                            <p:growl id="messages" showDetail="true" />
                                        </h:panelGrid> 
                                        <p:commandButton actionListener="#{customerView.postProduct}" 
                                                         update="@parent, messages, grid" disabled="false"  value="Add Poduct" oncomplete="handleRegisterDialog(args,'dlg')"/>

                                        <p:tooltip for="productName" showEvent="focus"  hideEvent="blur" value="Give your product a name"/>
                                        <p:tooltip for="productDescription" showEvent="focus"  hideEvent="blur" value="Give a brief description of your product"/>
                                        <p:tooltip for="startPrice" trackMouse="true"  hideEvent="blur" value="Startprice for your product"/>
                                    </h:form>

                                </f:view>
                            </p:dialog>
                            <script type="text/javascript">
                                function handleRegisterDialog(args, dialogName) {
                                    if (!args.validationFailed) {
                                        PF(dialogName).hide();

                                    }
                                }
                            </script>
        </ui:composition>
    </body>
</html>
