<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head><title></title></head>
    <body>
    <ui:composition>
         <header>
            <nav>
                <span><i>just</i><b>bid.com</b></span>
                <div class="nav_right">
                    
                    
                    <h:form class="links">
                        <div>
                            <h:link value="messages" outcome="/admin/index"/>
                        </div>
                        <div>
                        <h:link value="notifications" outcome="/product/view"/>
                        </div>
                        <div>
                            <h:link value="tasks" outcome="/product/create"/>
                        </div>
                        <div>                        
                            <h:commandLink value ="Log Out"  action="#{adminView.logOut}" />
                        </div>
                    </h:form>
                </div>
            </nav>  
             <h:outputText style="font-size: 15px" value="you are on admin page!"/>
             <div id="welcomeLogedName" >
             <h:outputText value="Welcome: "/>
             <p:outputLabel value="#{adminView.admin.adminName}"/>
             </div>
        </header>
    </ui:composition>
    </body>
</html>
