<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        #{loginController.setUserLoggedInUsername()}
        <title>Auction site</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        <ui:insert>
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>
        <p:growl id="growl" life="5000"/>
        <h:panelGroup rendered="#{customerView.isLoggedIn}">
            <p:lightBox id="myLightBoxId1" widgetVar="myLightBoxWidgetVar1" >
                  <p:link value="watch this video">  
                      <h:outputText value="watch this"/>  
                  </p:link> 
                  <f:facet name="inline">
                      <p:media value="https://www.youtube.com/v/oxtP3wxXlTA" width="915" height="515"  player="flash"/><br/>
                  </f:facet>  
                  </p:lightBox>
              <p:lightBox id="myLightBoxId" widgetVar="myLightBoxWidgetVar" >
                  <p:outputLabel for="watch" value="are you new on justbid.com? "/>
                  <p:link id="watch" value="watch this video"/>  


                  <p:tooltip id="toolTipTrack" for="myLightBoxId" value="This is video where yuo can get more 
                             info about us and what we doing" trackMouse="true" />
                  <f:facet name="inline">
                      <p:media value="/resources/media/final.swf" player="flash" width="915" height="515"/>
                  </f:facet>  
              </p:lightBox>
            <h:form id ="form" >
                 <p:carousel var="product" 
                        value ="#{productView.orderedProductsByDate}"  
                        itemStyle="text-align:center"
                        headerText="active products"
                        responsive="true" 
                        autoPlayInterval="5000" 
                        circular="true"
                        style="padding-top: 100px;">
                
                <p:commandLink action="#{auctionView.productDetail}">
                    <p:graphicImage name="/images/productimg/#{product.pictureURL}" 
                  alt="#{product.productDescription}" 
                  title="#{product.productDescription}" style="height: 400px"/>
                    <f:setPropertyActionListener value="#{product}" target="#{auctionView.product}"/>
                </p:commandLink>
            </p:carousel>
        </h:form>
            <h:form>
            <h1> Welcome to auction site by group3! </h1><br />
            <h2> Congratulations you are logged In as a user</h2>
            <br />
            <h:link outcome="/crud/auction/List" value="Show All Auction Items">
                <f:param name="userId" value="#{customerView.customer.id}"/>
            </h:link>
            <br />
            <h:link outcome="/crud/bid/List" value="Show All Bid Items"/>
            <br />
            <h:link outcome="/crud/product/List" value="Show All Product Items"/>
            </h:form>
                        <h:form>
              <p:media value="https://www.youtube.com/v/oxtP3wxXlTA" width="415" height="215"  player="flash"/><br/>
              
                
        </h:form>
                    
           
        </h:panelGroup>
        
        <br />
    </h:body>




</html>

