<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerCreateDlg" widgetVar="CustomerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCustomerTitle}">
            <h:form id="CustomerCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                         <p:outputLabel value="#{bundle.CreateCustomerLabel_id}" for="id" />
                        <p:inputText id="id" value="#{customerController.selected.id}" title="#{bundle.CreateCustomerTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_user}" for="user" />
                        <p:inputText id="user" value="#{customerController.selected.user}" title="#{bundle.CreateCustomerTitle_user}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_IName}" for="IName" />
                        <p:inputText id="IName" value="#{customerController.selected.IName}" title="#{bundle.CreateCustomerTitle_IName}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_uname}" for="uname" />
                        <p:inputText id="uname" value="#{customerController.selected.uname}" title="#{bundle.CreateCustomerTitle_uname}" />
                        <p:outputLabel value="#{bundle.CreateCustomerLabel_password}" for="password" />
                        <p:inputText id="password" value="#{customerController.selected.password}" title="#{bundle.CreateCustomerTitle_password}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{customerController.create}" value="#{bundle.Save}" update="display,:CustomerListForm:datalist,:growl" oncomplete="handleSubmit(args,'CustomerCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CustomerCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
