<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerEditDlg" widgetVar="CustomerEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCustomerTitle}">
            <h:form id="CustomerEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCustomerLabel_product}"  />
                         <p:outputLabel value="here will bee reference for all customer products"  />
                        <p:outputLabel value="#{bundle.EditCustomerLabel_id}" for="id" />
                        <p:inputText id="id" value="#{customerController.selected.id}" title="#{bundle.EditCustomerTitle_id}" />
                        <p:outputLabel value="#{bundle.EditCustomerLabel_user}" for="user" />
                        <p:inputText id="user" value="#{customerController.selected.user}" title="#{bundle.EditCustomerTitle_user}" />
                        <p:outputLabel value="#{bundle.EditCustomerLabel_IName}" for="IName" />
                        <p:inputText id="IName" value="#{customerController.selected.IName}" title="#{bundle.EditCustomerTitle_IName}" />
                        <p:outputLabel value="#{bundle.EditCustomerLabel_uname}" for="uname" />
                        <p:inputText id="uname" value="#{customerController.selected.uname}" title="#{bundle.EditCustomerTitle_uname}" />
                        <p:outputLabel value="#{bundle.EditCustomerLabel_password}" for="password" />
                        <p:inputText id="password" value="#{customerController.selected.password}" title="#{bundle.EditCustomerTitle_password}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{customerController.update}" value="#{bundle.Save}" update="display,:CustomerListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CustomerEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CustomerEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
