<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerViewDlg" widgetVar="CustomerViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCustomerTitle}">
            <h:form id="CustomerViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <h:outputText value="#{bundle.ViewCustomerLabel_id}"/>
                        <h:outputText value="#{customerController.selected.id}" title="#{bundle.ViewCustomerTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_user}"/>
                        <h:outputText value="#{customerController.selected.user}" title="#{bundle.ViewCustomerTitle_user}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_IName}"/>
                        <h:outputText value="#{customerController.selected.IName}" title="#{bundle.ViewCustomerTitle_IName}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_uname}"/>
                        <h:outputText value="#{customerController.selected.uname}" title="#{bundle.ViewCustomerTitle_uname}"/>
                        <h:outputText value="#{bundle.ViewCustomerLabel_password}"/>
                        <h:outputText value="#{customerController.selected.password}" title="#{bundle.ViewCustomerTitle_password}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CustomerViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
