<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BidEditDlg" widgetVar="BidEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBidTitle}">
            <h:form id="BidEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bidController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBidLabel_timeSt}" for="timeSt" />
                        <p:calendar id="timeSt" pattern="MM/dd/yyyy HH:mm:ss" value="#{bidController.selected.timeSt}" title="#{bundle.EditBidTitle_timeSt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBidLabel_bidedProduct}" for="bidedProduct" />
                        <p:selectOneMenu id="bidedProduct" value="#{bidController.selected.bidedProduct}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                           var="bidedProductItem"
                                           itemValue="#{bidedProductItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditBidLabel_id}" for="id" />
                        <p:inputText id="id" value="#{bidController.selected.id}" title="#{bundle.EditBidTitle_id}" />
                        <p:outputLabel value="#{bundle.EditBidLabel_bidder}" for="bidder" />
                        <p:selectOneMenu id="bidder" value="#{bidController.selected.bidder}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="bidderItem"
                                           itemValue="#{bidderItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditBidLabel_bidValue}" for="bidValue" />
                        <p:inputText id="bidValue" value="#{bidController.selected.bidValue}" title="#{bundle.EditBidTitle_bidValue}" />
                        <p:outputLabel value="#{bundle.EditBidLabel_timeStamp}" for="timeStamp" />
                        <p:inputText id="timeStamp" value="#{bidController.selected.timeStamp}" title="#{bundle.EditBidTitle_timeStamp}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bidController.update}" value="#{bundle.Save}" update="display,:BidListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BidEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BidEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
