<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templates/common/template.xhtml">
         <ui:insert>
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>

        <ui:define name="title">
           
            
        </ui:define>

        <ui:define name="body">
            <h:form id="BidListForm">
                <p:panel header="#{bundle.ListBidTitle}">
                    <p:dataTable id="datalist" value="#{bidController.items}" var="item"
                                 selectionMode="single" selection="#{bidController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBidTitle_timeSt}"/>
                            </f:facet>
                            <h:outputText value="#{item.timeSt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBidTitle_bidedProduct}"/>
                            </f:facet>
                            <h:outputText value="#{item.bidedProduct}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBidTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBidTitle_bidder}"/>
                            </f:facet>
                            <h:outputText value="#{item.bidder}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBidTitle_bidValue}"/>
                            </f:facet>
                            <h:outputText value="#{item.bidValue}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBidTitle_timeStamp}"/>
                            </f:facet>
                            <h:outputText value="#{item.timeStamp}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{bidController.prepareCreate}" update=":BidCreateForm" oncomplete="PF('BidCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":BidViewForm" oncomplete="PF('BidViewDialog').show()" disabled="#{empty bidController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":BidEditForm" oncomplete="PF('BidEditDialog').show()" disabled="#{empty bidController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{bidController.destroy}" update=":growl,datalist" disabled="#{empty bidController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
