<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BidViewDlg" widgetVar="BidViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBidTitle}">
            <h:form id="BidViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bidController.selected != null}">
                        <h:outputText value="#{bundle.ViewBidLabel_timeSt}"/>
                        <h:outputText value="#{bidController.selected.timeSt}" title="#{bundle.ViewBidTitle_timeSt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBidLabel_bidedProduct}"/>
                        <h:outputText value="#{bidController.selected.bidedProduct}" title="#{bundle.ViewBidTitle_bidedProduct}"/>
                        <h:outputText value="#{bundle.ViewBidLabel_id}"/>
                        <h:outputText value="#{bidController.selected.id}" title="#{bundle.ViewBidTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBidLabel_bidder}"/>
                        <h:outputText value="#{bidController.selected.bidder}" title="#{bundle.ViewBidTitle_bidder}"/>
                        <h:outputText value="#{bundle.ViewBidLabel_bidValue}"/>
                        <h:outputText value="#{bidController.selected.bidValue}" title="#{bundle.ViewBidTitle_bidValue}"/>
                        <h:outputText value="#{bundle.ViewBidLabel_timeStamp}"/>
                        <h:outputText value="#{bidController.selected.timeStamp}" title="#{bundle.ViewBidTitle_timeStamp}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BidViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
