<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductCreateDlg" style="width: 610px " widgetVar="ProductCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProductTitle}">
            <h:form id="ProductCreateForm">
                <p:wizard flowListener="#{productController.onFlowProcess}">
                    <p:tab id="general" title="General">
                        <p:panel header="General Details">
                            <p:messages />
                            <h:panelGroup id="display">
                                <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                                    <p:outputLabel value="#{bundle.CreateProductLabel_category}" for="category" />
                                    <p:selectOneMenu id="category" value="#{productController.selected.category}" >
                                        <f:selectItems value="#{productController.selected.allCategories}"
                                                       var="categoryItem"
                                                       itemValue="#{categoryItem}"/>
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Productname: " for="productname" />
                                    <p:inputText id="productname" required="true" value="#{productController.selected.productName}" title="#{bundle.CreateProductTitle_productname}" />
                                                                    <p:outputLabel value="#{bundle.CreateProductLabel_createdDate}" for="createdDate" />
                                <p:calendar id="createdDate" disabled="true" pattern="MM/dd/yyyy HH:mm:ss" value="#{productController.selected.createdDate}" title="#{bundle.EditProductTitle_createdDate}"  navigator="true" mask="true"  />
                                <p:outputLabel value="#{bundle.CreateProductLabel_price}" for="price" />
                                <p:inputText id="price" value="#{productController.selected.price}" title="#{bundle.CreateProductTitle_price}">
                                    <p:slider for="price" maxValue="1000" />
                                </p:inputText>
                                </p:panelGrid>
                            </h:panelGroup>
                        </p:panel>
                    </p:tab>

                    <p:tab id="productinfo" title="Product description">
                        <p:panel header="Describe your product">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <p:inputTextarea id="productDescription"
                         rows="10"
                         cols="70"
                         counter="displayCounter"
                         maxlength="1000" 
                         counterTemplate="{0} characters remaining" 
                         value="#{productController.selected.productDescription}" 
                         title="#{bundle.CreateProductTitle_productDescription}" /><br/>
                                <h:outputText id="displayCounter"/>

                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="imageupload" title="Image upload">
                        <p:panel header="Upload productimage">
                            <p:messages />

                            <p:fileUpload fileUploadListener="#{productController.fileUpload}" style="width: 550px" mode="advanced" dragDropSupport="true" auto="true" 
                                          sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" required="true" requiredMessage="Need image" update="growl"/>
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Skip to last: " />
                                <h:selectBooleanCheckbox value="#{productController.skip}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab id="confirm" title="Confirmation">
                        <p:panel header="Confirmation">
                            <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                                <h:panelGrid columns="2" columnClasses="label, value">
                                    <p:outputLabel value="Product owner: " />
                                    <p:outputLabel value="#{productController.owner.user.firstName} #{productController.owner.user.surName}" />
                                    <p:outputLabel value ="Category: "/>
                                    <p:outputLabel value ="#{productController.selected.category}"/>
                                    <p:outputLabel value ="Productname: "/>
                                    <p:outputLabel value ="#{productController.selected.productName}"/>
                                    <p:outputLabel value ="ProductDescription: "/>
                                    <p:outputLabel value ="#{productController.selected.productDescription}"/>
                                    <p:outputLabel value ="Date created: "/>
                                    <p:outputLabel value ="#{productController.selected.createdDate}"/>
                                    <p:outputLabel value ="Start price: "/>
                                    <p:outputLabel value ="#{productController.selected.price}"/>
                                </h:panelGrid>
                                <p:commandLink>
                                    <p:graphicImage name="/images/productimg/#{productController.selected.pictureURL}"
                                               style="height: 200px"/>
                                </p:commandLink>
                            </h:panelGrid>
                            <p:commandButton value="Submit" actionListener="#{productController.create()}" process="@this"
                                             update="display,:ProductListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProductCreateDialog');"
                                             />
                        </p:panel>
                    </p:tab>
                </p:wizard>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
