<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductEditDlg" widgetVar="ProductEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProductTitle}">
            <h:form id="ProductEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProductLabel_id}" for="id" />
                        <p:inputText id="id" value="#{productController.selected.id}"  disabled="true" title="#{bundle.EditProductTitle_id}" required="true" requiredMessage="#{bundle.EditProductRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditProductLabel_createdDate}" for="createdDate" />
                        <p:calendar id="createdDate" pattern="MM/dd/yyyy HH:mm:ss" disabled="true" value="#{productController.selected.createdDate}" title="#{bundle.EditProductTitle_createdDate}"/>
                       
                        
                        <p:outputLabel value="#{bundle.EditProductLabel_price}" for="price" />
                        <p:inputText id="price" value="#{productController.selected.price}" title="#{bundle.EditProductTitle_price}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_productDescription}" for="productDescription" />
                        <p:inputTextarea id="productDescription" value="#{productController.selected.productDescription}" title="#{bundle.EditProductTitle_productDescription}" />
                        <p:outputLabel value="Product name" for="productname" />
                        <p:inputText id="productname" value="#{productController.selected.productName}" title="#{bundle.EditProductTitle_productname}" />
                        <p:outputLabel value="has picture" for="haspicture" />
                        <p:selectBooleanCheckbox id="haspicture" disabled="true" value="#{productController.selected.hasPicture}" />
                        <p:outputLabel value="#{bundle.EditProductLabel_auction}" for="auction" />
                        <p:selectOneMenu id="auction" value="#{productController.selected.auction}" disabled="true" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{auctionController.itemsAvailableSelectOne}"
                                           var="auctionItem"
                                           itemValue="#{auctionItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditProductLabel_productPoster}" for="productPoster" />
                        <p:selectOneMenu id="productPoster" value="#{productController.selected.productPoster}" disabled="true" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="productPosterItem"
                                           itemValue="#{productPosterItem}"/>
                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productController.update}" value="#{bundle.Save}" update="display,:ProductListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProductEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
