<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/templates/common/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListProductTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ProductListForm">
                <p:panel header="#{bundle.ListProductTitle}">
                    <p:dataTable id="datalist" value="#{productController.items}" var="item"
                                 selectionMode="single" selection="#{productController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="9"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column sortBy="#{item.id}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column sortBy="#{item.category}" filterBy="#{item.category}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_category}"/>
                            </f:facet>
                            <h:outputText value="#{item.category}"/>
                        </p:column>
                        <p:column sortBy="#{item.createdDate}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_createdDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column >
                        <p:column sortBy="#{item.pictureURL}" filterBy="#{item.pictureURL}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_pictureURL}"/>
                            </f:facet>
                            <h:outputText value="#{item.pictureURL}"/>
                        </p:column>
                        <p:column filterBy="#{item.price}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_productDescription}"/>
                            </f:facet>
                            <h:outputText value="#{item.productDescription}"/>
                        </p:column>
                        <p:column headerText="Product name" >
                            <h:outputText value="#{item.productName}"/>
                        </p:column>
                        <p:column headerText="Picuture">
                            <p:graphicImage id="img" name="/images/productimg/#{item.pictureURL}" style="cursor:pointer; height: 50px" title="Custom Options" />
                            <p:overlayPanel id="imgPanel" for="img" showEffect="blind" hideEffect="explode" showEvent="mouseover" hideEvent="mouseout"
                                            dismissable="false" showCloseIcon="true">
                                <p:imageSwitch effect="fade" style="height:250px; background-color: lightgrey">
                                    <p:graphicImage name="/images/productimg/#{item.pictureURL}" height="250"  />
                                </p:imageSwitch>
                            </p:overlayPanel>
                        </p:column>
                        <p:column headerText="Auction active?">
                            <h:outputText value="#{item.auction.isActive}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductTitle_productPoster}"/>
                            </f:facet>
                            <h:outputText value="#{item.productPoster.uname}"/>
                        </p:column>
                        <p:column headerText="Bid history">
                            <p:commandButton id="bidBtn" value="Dynamic" type="button" update="datalist" />
                            <p:overlayPanel id="bidPanel" for="bidBtn" hideEffect="fade" dynamic="true" style="width:600px">
                                <p:dataTable id="innerTable" var="it" value="#{productController.selected.allBids}" paginator="true" rows="5" >
                                    <p:column headerText="BidId" >
                                        <h:outputText value="#{it.id}" />
                                    </p:column>

                                    <p:column headerText="Bidder" >
                                        <h:outputText value="#{it.bidder.uname}" />
                                    </p:column>

                                    <p:column headerText="Time">
                                        <h:outputText value="#{it.timeSt}" />
                                    </p:column>
                                    <p:column headerText="Price">
                                        <h:outputText value="#{it.bidValue}" />
                                    </p:column>
                                    <p:column headerText="Prodname">
                                        <h:outputText value="#{it.bidedProduct.productName}" />
                                    </p:column>



                                </p:dataTable>
                            </p:overlayPanel>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Addproduct}" actionListener="#{productController.prepareCreate}" update=":ProductCreateForm" oncomplete="PF('ProductCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ProductViewForm" oncomplete="PF('ProductViewDialog').show()" disabled="#{empty productController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ProductEditForm" oncomplete="PF('ProductEditDialog').show()" disabled="#{empty productController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{productController.destroy}" update=":growl,datalist" disabled="#{empty productController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
