<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Register customer</title>
    </h:head>
    <h:body>
        
        <f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="First Name:" for="firstName" />
                    <h:inputText id="firstName" value="#{customerView.customer.user.firstName}" title="firstName" />
                    
                    <h:outputLabel value="Sur Name:" for="surName" />
                    <h:inputText id="surName" value="#{customerView.customer.user.surName}" title="surName" />
                    
                    <h:outputLabel value="adress:" for="adress" />
                    <h:inputText id="adress" value="#{customerView.customer.user.adress}" title="adress" />
                    <h:outputLabel value="telephoneNr:" for="telephoneNr" />
                    <h:inputText id="telephoneNr" value="#{customerView.customer.user.telephoneNumber}" title="tlf" />
                    <h:outputLabel value="IName:" for="IName" />
                    <h:inputText id="IName" value="#{customerView.customer.IName}" title="IName" />
                    <h:outputLabel value="Uname:" for="uname" />
                    <h:inputText id="uname" value="#{customerView.customer.uname}" title="Uname" />
                    <h:outputLabel value="Password:" for="password" />
                    <h:inputText id="password" value="#{customerView.customer.password}" title="Password" />
                </h:panelGrid>
                <h:commandButton  action="#{customerView.registerUser}" value="REGISTER" />
            </h:form>
        </f:view>

    </h:body>
</html>

