<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"   
        xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        <ui:insert>
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>
        <p:dialog visible="true" header="Create new product" widgetVar="dlg" closeOnEscape="true" style="background: white" >
            <f:view>
                <h:form>
                    <h:panelGrid columns="3" cellpadding="5" style="background-color: #DBE0E3" >
                        <h:outputLabel value="Category:" for="category" />
                        <h:selectOneMenu id="category" value="#{customerView.postedProduct.category}"  title="Category" required="true" requiredMessage="Select one catogery" >
                            <f:selectItem itemLabel="select one"/>
                            <f:selectItems value="#{customerView.postedProduct.allCategories}"/>
                        </h:selectOneMenu>
                        <p:message for="category"/>
                        <h:outputLabel value="ProductName:" for="productName" />
                        <h:inputText id="productName" value="#{customerView.postedProduct.productName}" title="ProductName" required="true" requiredMessage="Enter prodctname" />
                        <p:message for="productName"/>
                        <h:outputLabel value="productDescription:" for="productDescription" />
                        <h:inputTextarea id="productDescription" value="#{customerView.postedProduct.productDescription}" title="ProductDescription" required="true" requiredMessage="Provide some information about the product" />
                        <p:message for="productDescription"/>
                        <p:outputLabel value="start price:" for="startPrice" />
                        <p:inputNumber id="startPrice" value="#{customerView.postedProduct.price}" title="ProductDescription" required="true" requiredMessage="Need a startprice" />
                        <p:message for="startPrice"/>
                        <p:fileUpload fileUploadListener="#{customerView.fileUpload}" style="width: 550px" mode="advanced" dragDropSupport="true" 
                                      update="messages" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" required="true" requiredMessage="Need image"/>
                                        <p:growl id="messages" showDetail="true" />
                    </h:panelGrid> 
                    <p:commandButton actionListener="#{customerView.postProduct}" 
                                     update="@parent" disabled="false"  value="Add Poduct" oncomplete="handleRegisterDialog(args,'dlg')"/>

                    <p:tooltip for="productName" showEvent="focus"  hideEvent="blur" value="Give your product a name"/>
                    <p:tooltip for="productDescription" showEvent="focus"  hideEvent="blur" value="Give a brief description of your product"/>
                    <p:tooltip for="startPrice" trackMouse="true"  hideEvent="blur" value="Startprice for your product"/>
                </h:form>

            </f:view>
        </p:dialog>
        <script type="text/javascript">
            function handleRegisterDialog(args, dialogName) {
                if (!args.validationFailed) {
                    PF(dialogName).hide();

                }
            }
        </script>
    </h:body>
</html>
