<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="productId" value="#{productController.prodId}"/>
        </f:metadata>
        <p:layout fullPage="true">
            
            <p:layoutUnit  position="north" size="auto">
                <ui:include src="/templates/common/header.xhtml"/>
            </p:layoutUnit>
<!--            <p:layoutUnit position="north">
                <p:contentFlow value="" var="image">
                    <p:graphicImage name="" styleClass="content" />
                    <div class="caption"></div>
                </p:contentFlow>
            </p:layoutUnit>-->
<p:layoutUnit position="west" collapsible="true" header="" collapsed="true">
    ceva ce sta scris
</p:layoutUnit>
            <p:layoutUnit position="center" resizable="true" size="max">
                
                
            #{productController.getPrFromId().productDescription}
            <p:accordionPanel multiple="true">
                <p:tab title="All given bids">
<!--                    <h:panelGrid columns="2" cellpadding="10">-->
                        <p:dataTable var="bid" style="border: none" value="#{productController.getPrFromId().allBids}">
                            <f:facet name="header">
                               expand to see all detailed information
                            </f:facet>
                            <p:column style="width:15px">
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="bid value">
                                <h:outputText value="#{bid.bidValue}" />
                            </p:column>
                            <p:column headerText="timebided">
                                <h:outputText value="#{bid.timeStamp}" />
                            </p:column>

                            <p:rowExpansion>
                                <p:panelGrid  columns="2" columnClasses="label,value" style="width:300px">
                                    <f:facet name="header">
                                        <p:graphicImage name="/images/productimg/img1.png" style="height: 120px; "/>
                                    </f:facet>

                                    <h:outputText value="Id:" />
                                    <h:outputText value="#{bid.id}" />

                                    <h:outputText value="Year" />
                                    <h:outputText value="#{bid.timeSt}" />

                                    <h:outputText value="Color:" />
                                    <h:outputText value="#{bid.bidder.uname}" />

                                    <h:outputText value="Price" />
                                    <h:outputText value="$#{bid.bidder.user.adress}" />
                                </p:panelGrid>
                            </p:rowExpansion>
                        </p:dataTable>
                    <!--</h:panelGrid>-->
                </p:tab>
                <p:tab title="price evolution">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:graphicImage name="/images/productimg/img1.png" style="height: 120px"/>
                        <h:outputText value="Francis Ford Coppola's legendary..." />
                    </h:panelGrid>
                </p:tab>
                <p:tab title="comments on product">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:graphicImage name="/images/productimg/img2.jpg" style="height: 120px" />
                        <h:outputText value="After a break of more than 15 years...." />
                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
            </p:layoutUnit>
            
            
        </p:layout>
    </h:body>
</html>

