<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>
        <title>Products</title>
         <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        
        <ui:insert>
            <ui:include src="/templates/common/header.xhtml"/>
        </ui:insert>
        <p:growl widgetVar="growl" life="10000" showDetail="true" />
        <h:form id="productForm">
            
            <p:dataGrid var="product" value="#{productView.orderedProductsByDate}" columns="3" 
                        layout="grid"
                        rows="12"
                        paginator="true"
                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        rowsPerPageTemplate="12,24,36">
                <f:facet name="header">Active auctions</f:facet>
                <p:panel header="#{product.category}">
                    <p:commandLink update=":productForm:display" oncomplete="PF('dlg').show()">
                        <f:setPropertyActionListener value="#{product}" target="#{productView.product}"/>
                        <f:setPropertyActionListener value="#{product}" target="#{auctionView.product}"/>
                        <f:setPropertyActionListener value="#{customerView}" target="#{auctionView.custW}"/>
                        
                        <h:outputText value="#{product.productName}"/><br/>
                    </p:commandLink>
                        <h:outputText value="actual price"/>
                        <h:outputText value="#{product.price}"/><br/>
                        <h:outputText value="auctions ends:"/><br/>
                        <pe:timer  timeout="#{product.auction.convertIntoSeconds()/1000}"
                 format="human"
                 rendered="#{product.auction.isActive}"
                 listener="#{auctionView.auctionEnded()}"/>
                        <h:outputText style="color: red" rendered="#{!product.auction.isActive}" value="bid ended"/>
                </p:panel>
            </p:dataGrid>
            <p:dialog id="display" 
           modal="true"
           widgetVar="dlg"
           header="test">
                <f:facet name="header">
                    <h:outputText value=" #{productView.product.category}"/>
                </f:facet>
                <h:panelGrid id="dataform" columns="2">
                    <f:facet name="header">
                        <h:outputText value="Cat: #{productView.product.category}"/>
                    </f:facet>
                    
                    <h:outputText value="Bided product name:"/>
                    <h:outputText value="#{productView.product.productName}"/>
                    <h:outputText value="owner:"/>
                    <h:outputText value="#{productView.product.productPoster.uname}"/>
                    <h:outputText value="description:"/>
                    <h:outputText value="#{productView.product.productDescription}"/>
                    <h:outputText value="currentBid: "/>
                    <h:outputText value="#{productView.product.price} "/>
                    
                      
                </h:panelGrid>

                <p:messages autoUpdate="true"/>
<!--                <p:slider for="bidval" minValue="#productView.product.price}" maxValue="#productView.product.price+1000}" />-->
                <p:outputLabel for="bidval" value="place bid: "/>
<!--                <p:inputNumber id="bidval"
                             minValue="0"
                             value="#auctionView.bid.bidValue}"
                             label="bidval"
                             required="true"
                             requiredMessage="you bid sut be higher than actual one"
                             symbolPosition="s" 
                             symbol=" NOK ">
                   
                   
                </p:inputNumber>-->
    <p:slider for="bidval" minValue="#{productView.product.price+2}" maxValue="#{productView.product.price+10000}" />
<p:inputText id="bidval" value="#{auctionView.bid.bidValue}"  placeholder="#{productView.product.price+2}" style="width: 100px">
                </p:inputText>
                <p:commandButton ajax="true" 
                                 value="accept" 
                                 action="#{auctionView.giveBid}" 
                                 update="productForm"
                                 icon="ui-icon-check"
                                 validateClient="true"
                                 resetValues="true">
                </p:commandButton>
                <f:facet name="footer">
                    <h:commandLink value="see more details" action="#{auctionView.productDetail}" />
                </f:facet>  
            </p:dialog>
            
        </h:form>
        <p:socket onMessage="handleMessage" channel="/notify" />

        <script type="text/javascript">
                function handleMessage(facesmessage) {
                    facesmessage.severity = 'info';
 
                    PF('growl').show([facesmessage]);
                }
        </script>                              


        
    </h:body>
</html>
