<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AuctionEditDlg" widgetVar="AuctionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAuctionTitle}">
            <h:form id="AuctionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{auctionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAuctionLabel_product}" for="product" />
                        <p:selectOneMenu id="product" value="#{auctionController.selected.product}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productController.itemsAvailableSelectOne}"
                                           var="productItem"
                                           itemValue="#{productItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAuctionLabel_auctionLength}" for="auctionLength" />
                        <p:inputText id="auctionLength" value="#{auctionController.selected.auctionLength}" title="#{bundle.EditAuctionTitle_auctionLength}" />

                        <p:outputLabel value="#{bundle.EditAuctionLabel_startAuction}" for="startAuction" />
                        <p:calendar id="startAuction" pattern="MM/dd/yyyy HH:mm:ss" value="#{auctionController.selected.startAuction}" title="#{bundle.EditAuctionTitle_startAuction}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditAuctionLabel_endAuction}" for="endAuction" />
                        <p:calendar id="endAuction" pattern="MM/dd/yyyy HH:mm:ss" value="#{auctionController.selected.endAuction}" title="#{bundle.EditAuctionTitle_endAuction}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditAuctionLabel_currentBid}" for="currentBid" />
                        <p:selectOneMenu id="currentBid" value="#{auctionController.selected.currentBid}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bidController.itemsAvailableSelectOne}"
                                           var="currentBidItem"
                                           itemValue="#{currentBidItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAuctionLabel_id}" for="id" />
                        <p:inputText id="id" value="#{auctionController.selected.id}" title="#{bundle.EditAuctionTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{auctionController.update}" value="#{bundle.Save}" update="display,:AuctionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AuctionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AuctionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
