<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templates/common/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAuctionTitle}"></h:outputText>
            <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
        </ui:define>


        <ui:define name="body">
            <f:metadata>
                <f:viewParam name="userId" value="#{auctionController.custId}"/>
            </f:metadata>
           
            <h:form id="AuctionListForm">
                <p:panel header="#{bundle.ListAuctionTitle}">
                    <p:dataTable id="datalist" value="#{auctionController.auctionItemsFromCust}" var="item"
                                 selectionMode="single" selection="#{auctionController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProductOwner}"/>
                            </f:facet>
                            <h:outputText value="#{item.product.productPoster.uname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_product}"/>
                            </f:facet>
                            <h:outputText value="#{item.product}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_auctionLength}"/>
                            </f:facet>
                            <h:outputText value="#{item.auctionLength}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_allAuctionLengths}"/>
                            </f:facet>
                            <h:outputText value="#{item.allAuctionLengths}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_startAuction}"/>
                            </f:facet>
                            <h:outputText value="#{item.startAuction}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_endAuction}"/>
                            </f:facet>
                            <h:outputText value="#{item.endAuction}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_endAuctionSt}"/>
                            </f:facet>
                            <h:outputText value="#{item.endAuctionSt}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_currentBid}"/>
                            </f:facet>
                            <h:outputText value="#{item.currentBid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuctionTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{auctionController.prepareCreate}" update=":AuctionCreateForm" oncomplete="PF('AuctionCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AuctionViewForm" oncomplete="PF('AuctionViewDialog').show()" disabled="#{empty auctionController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AuctionEditForm" oncomplete="PF('AuctionEditDialog').show()" disabled="#{empty auctionController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{auctionController.destroy}" update=":growl,datalist" disabled="#{empty auctionController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
