<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AuctionViewDlg" widgetVar="AuctionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAuctionTitle}">
            <h:form id="AuctionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{auctionController.selected != null}">
                        <h:outputText value="#{bundle.ViewAuctionLabel_product}"/>
                        <h:outputText value="#{auctionController.selected.product}" title="#{bundle.ViewAuctionTitle_product}"/>
                        <h:outputText value="#{bundle.ViewAuctionLabel_auctionLength}"/>
                        <h:outputText value="#{auctionController.selected.auctionLength}" title="#{bundle.ViewAuctionTitle_auctionLength}"/>
                        <h:outputText value="#{bundle.ViewAuctionLabel_allAuctionLengths}"/>
                        <h:outputText value="#{auctionController.selected.allAuctionLengths}" title="#{bundle.ViewAuctionTitle_allAuctionLengths}"/>
                        <h:outputText value="#{bundle.ViewAuctionLabel_startAuction}"/>
                        <h:outputText value="#{auctionController.selected.startAuction}" title="#{bundle.ViewAuctionTitle_startAuction}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewAuctionLabel_endAuction}"/>
                        <h:outputText value="#{auctionController.selected.endAuction}" title="#{bundle.ViewAuctionTitle_endAuction}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewAuctionLabel_endAuctionSt}"/>
                        <h:outputText value="#{auctionController.selected.endAuctionSt}" title="#{bundle.ViewAuctionTitle_endAuctionSt}"/>
                        <h:outputText value="#{bundle.ViewAuctionLabel_currentBid}"/>
                        <h:outputText value="#{auctionController.selected.currentBid}" title="#{bundle.ViewAuctionTitle_currentBid}"/>
                        <h:outputText value="#{bundle.ViewAuctionLabel_id}"/>
                        <h:outputText value="#{auctionController.selected.id}" title="#{bundle.ViewAuctionTitle_id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AuctionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
