<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="form">
            <p:dataTable id="singleDT" 
                         var="product" 
                         value="#{customerView.customer.productList}" 
                         selectionMode="single" 
                         selection="#{customerView.postedProduct}" 
                         rowKey="#{product.id}">
                <f:facet name="header">
                    Single with Row Click
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{product.id}" />
                </p:column>
                <p:column headerText="Category">
                    <h:outputText value="#{product.category}" />
                </p:column>
                <p:column headerText="created date ">
                    <h:outputText value="#{product.createdDate}" />
                </p:column>
                <p:column headerText="product name">
                    <h:outputText value="#{product.productName}" />
                </p:column>
                <p:column headerText="Actual price">
                    <h:outputText value="#{product.price}" />
                </p:column>
                <p:column headerText="End Auction">
                    <h:outputText value="#{product.auction.endAuctionSt}" />
                </p:column>
                <p:column headerText="choose Auctions Length">
        <!--            <h:selectOneMenu id="category" value="#{product.auction.auctionLength}"  title="Category" >
                                <f:selectItem itemLabel="select one"/>
                                <f:selectItems value="#{product.allAuctionLengths}"/>
                    </h:selectOneMenu>-->
                </p:column>
                <p:column id='act' headerText="Auction active">
                    #{product.auction.isActive}
                </p:column>
                <p:column headerText="auction activation">
                    <p:commandButton update="singleDT" value="activate" action="#{customerView.startAuction}" >
                        <f:param name="prodId" value="#{product.id}"/>
<!--                        <f:setPropertyActionListener value="#{product}" target="#{auctionView.product}" />-->
                    </p:commandButton>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton process="singleDT" 
                                     update="form:productDetail" 
                                     icon="ui-icon-search" 
                                     value="View"
                                     oncomplete="PF('productDialog').show()" />


                </f:facet>
            </p:dataTable>

            <p:dialog header="Product Info" 
                      widgetVar="productDialog" 
                      modal="true" 
                      showEffect="fade" 
                      hideEffect="fade" 
                      resizable="false">



                <ui:include  src="/customer/view.xhtml"/>

            </p:dialog>
        </h:form>
    </h:body>
</html>

