<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition>
        <p:outputPanel id="productDetail" style="text-align:center;">
            <p:panelGrid  columns="2" 
              rendered="#{not empty customerView.postedProduct}" 
             >
                
                <f:facet name="header">
                    <h:outputText value="#{customerView.postedProduct.productName}"/> 
                </f:facet>
 
                <h:outputText value="Id:" />
                <h:outputText value="#{customerView.postedProduct.id}" />
 
                <h:outputText value="Product Name" />
                <h:outputText value="#{customerView.postedProduct.productName}" />
 
                <h:outputText value="Created date:" />
                <h:outputText value="#{customerView.postedProduct.createdDate}" />
 
                <h:outputText value="Price" />
                <h:outputText value="NOK#{customerView.postedProduct.price}" />
            </p:panelGrid>
        </p:outputPanel>
    </ui:composition>
</html>

