<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Login Error</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>

    <h:body>

        <h1>
            <ui:insert name="title">Login Error</ui:insert>
        </h1>
        <p>
            <ui:insert name="body">
                Wrong username or password
            </ui:insert>
            <h:link value="Back to login" outcome="/faces/users/index.xhtml"/>
            <br/>
            <h:link value="Back to home" outcome="/faces/index.xhtml"/>
            <br/>
        </p>
    </h:body>
</html>
