<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <p:dialog id="dialog" header="Register" widgetVar="dlg" closeOnEscape="true" modal="true">
                        <h:form>
                            <p:focus  id="focus"/>
                            <h:panelGrid id="panelGrid" columns="3" cellpadding="2">
                                <p:outputLabel for="username" value="Username:"/>
                                <p:inputMask id="username" value="#{customerView.customer.uname}" label="username" mask="" required="true"/>
                                <p:message for="username"/>
                                <p:outputLabel for="firstname" value="Firstname:"/>
                                <p:inputMask id="firstname" value="#{customerView.customer.user.firstName}" label="firtname" mask="" required="true"/>                      
                                <p:message for="firstname"/>
                                <p:outputLabel for="surname" value="Surname:"/>
                                <p:inputMask id="surname" value="#{customerView.customer.user.surName}" label="surname" mask="" required="true"/>
                                <p:message for="surname"/>
                                <p:outputLabel value="Phonenr:"/>
                                <p:inputMask id="phonenr" value="#{customerView.customer.user.telephoneNumber}" label="phonenr" mask="(+99) 99 99 99 99" required="true" requiredMessage="This field is required"/>
                                <p:message for="phonenr"/>
                                <p:outputLabel for="adress" value="Adress:"/>
                                <p:inputMask id="adress" value="#{customerView.customer.user.adress}" label="adress" mask=""/>
                                <p:message for="adress"/>
                                <p:outputLabel for="email" value="email:"/>
                                <p:inputMask id="email" value="#{customerView.customer.user.email}" label="email" mask="" required="true" requiredMessage="mail is required" />
                                <p:message for="email"/>
                                <p:outputLabel for="cemail" value="Confirm Email:"/>
                                <p:inputMask id="cemail" value="#{customerView.customer.user.email}" label="cemail" mask="" required="true" requiredMessage="you need to confirm your mail"/>
                                <p:message for="cemail"/>
                                <p:outputLabel for="dateofbirth" value="Date of birth:"/>
                                <p:calendar id="dateofbirth" pattern="MM/dd/yyyy" value="#{customerView.customer.user.dateOfBirth}" title="date of birth" required="true" navigator="true" mask="true" mindate="1/1/1916" maxdate="1/1/2000" />
                                <p:message for="dateofbirth"/>
                                <p:outputLabel for="cardnumber" value="Creditcard number:"/>
                                <p:inputMask id="cardnumber" value="#{customerView.customer.user.creditcardnr}" label="cardnumber" mask="9999 9999 9999 9999" required="true" requiredMessage="This field is required"/>
                                <p:message for="cardnumber"/>
                                <p:outputLabel for="ssn" value="Social security number:"/>
                                <p:inputMask id="ssn" value="#{customerView.customer.user.sosialsecnr}" label="ssn" mask="999999 99999" required="true" requiredMessage="This field is required"/>
                                <p:message for="ssn"/>
                                <p:outputLabel for="password" value="Password:"/>
                                <p:password id="password" value="#{customerView.customer.password}" match="cpassword" label="password"  required="true" requiredMessage="This field is required"/>
                                <p:message for="password"/>
                                <p:outputLabel for="cpassword" value="Cornfirm password:"/>
                                <p:password id="cpassword" value="#{customerView.customer.password}" label="cpassword" required="true" requiredMessage="This field is required"/>
                                <p:message for="cpassword"/>
                                <p:commandLink  value="Register" 
                         actionListener="#{customerView.registerUser}" 
                         resetValues="true" 
                         update="@parent, focus,growl" 
                         oncomplete="handleRegisterDialog(args,'dlg')"
                         style="color: red; font-style: italic; text-decoration: underline"/>                              
                            </h:panelGrid>
                            <p:tooltip for="username" showEvent="focus"  hideEvent="blur" value="Select username. This will be used to login"/>
                            <p:tooltip for="phonenr" showEvent="focus"  hideEvent="blur" value="Countrycode (2 digits), followed by 8 digit"/>
                            <p:tooltip for="password" showEvent="focus"  hideEvent="blur" value="Combine upper and lowercase letters, numbers and chars"/>
                            <p:tooltip for="cpassword" showEvent="focus"  hideEvent="blur" value="Re-enter password"/>
                            <p:tooltip for="cardnumber" showEvent="focus"  hideEvent="blur" value="16 digits"/>
                        </h:form>
                    </p:dialog>
                
                <script type="text/javascript">
               function handleRegisterDialog(args, dialogName){
                   if(!args.validationFailed){
                       PF(dialogName).hide();
                       
                   }
               }     
                </script>
    </ui:composition>
</html>

